.searchPage{
    display:flex;
    border-radius: 1rem;
    position: relative;
    #searchInput{
        width:100%;
        display:none;
        border-radius:2rem;
        outline: none;
        background-color: #272932;
        border:none;
        height:41px;
        color: white;
        &::placeholder{
            color: white;
        }        
    }
    #searchButton{
        border-radius:50%;
        width:40px;
        height:40px;
        position:absolute;
        right:2px;
        top:3px;

        border:1px solid white;
        background-color: #272932;
    }
}
#searchButton:hover{
    background-color:#5733F5;
}
svg{
    fill:white
}