<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../skeleton/common.css">
    <link rel="stylesheet" href="podio.css">
</head>
<body>
    <div class="podio">
        <div class="podio__descript">
            <p class="podio__contdesc">
              Join our discord and participate in the
               next RTFKT creator contest.
            </p>
            
          
            </div>
            <div class="podio__imageNft" onmouseover="changeImageByPodio(1)" onmouseout="restoreImage()">
                <img id="podioImage" src="https://cdn.rtfkt.com/assets/images/creatorChallenge/creator1.png" alt="">
            </div>
            
            <div class="podio__classifica">

        <h3 class="podio__challenge">LAST CHALLENGE WINNERS </h3>
        <div class="podio__structure" onmouseover="changeImageByPodio(1)" onmouseout="restoreImage()">
            <div class="podio__ranking">
                <h3 class="podio__first">1</h3>
                <p>st</p>
            </div>
            <div class="podio__winner">
                <img class="podio__logo" src="../../assets/blank-profile.jpg" alt="">
            </div>
            <div class="podio__desc">
                <p class="podio__win">WINNER</p>
                <h3 class="podio__vini">@Vini</h3>
            </div>
        </div>
        
        <div class="podio__structure2" onmouseover="changeImageByPodio(2)" onmouseout="restoreImage()">
            <div class="podio__ranking2">
                <h3 class="podio__second">2</h3>
                <p>nd</p>
            </div>
            <div class="podio__winner">
                <img class="podio__logo" src="../../assets/blank-profile.jpg" alt="">
            </div>
            <div class="podio__desc2-3">
                <h3 class="podio__vini">@Tosco_E</h3>
            </div>
        </div>
        
        <div class="podio__structure3" onmouseover="changeImageByPodio(3)" onmouseout="restoreImage()">
            <div class="podio__ranking3">
                <h3 class="podio__second">3</h3>
                <p>rd</p>
            </div>
            <div class="podio__winner">
                <img class="podio__logo" src="../../assets/blank-profile.jpg" alt="">
            </div>
            <div class="podio__desc2-3">
                <h3 class="podio__vini">@JstFredrik</h3>
            </div>
        </div>

        
    </div>
    <script src="main.js"></script>
</body>
</html>