.podio {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  width: 928px;
  height: 368px;
  background-color: #272932;
  margin-top: 2rem;
  border-radius: 20px;
  &__classifica{
    margin-top: 1rem;
    gap: 1rem;
    display: flex;    
    flex-direction: column;
  }
  &__contdesc{
    color: white;
    font-size: 30px;
    max-width: 300px;
    margin-top: 90px;
    margin-left: 2rem;
    font-family: 'Sohne';
   }

   &__imageNft{

    display: flex;
    height: 160px;
    width: 216px;
    margin-left: 2rem;
    margin-top: 80px;

   }
  &__challenge {
    color: white;
    font-family: "Sohne Breit";
    font-size: 12px;
  }
  &__structure {
    display: flex;
    width: 400px;
    height: 70px;
    background: linear-gradient(
      90deg,
      rgb(102, 88, 53) 0%,
      rgb(39, 41, 50) 100%
    );
    border-radius: 24px;
  }
  &__structure2 {
    display: flex;
    max-width: 400px;
    max-height: 70px;
    background: linear-gradient(
      90deg,
      rgb(70, 70, 93) 0%,
      rgb(39, 41, 50) 100%
    );
    border-radius: 24px;
  }

  &__structure3 {
    display: flex;
    max-width: 400px;
    max-height: 70px;
    background: linear-gradient(
      90deg,
      rgb(57, 42, 29) 0%,
      rgb(40, 40, 52) 100%
    );
    border-radius: 24px;
  }

  &__ranking {
    font-family: "TTAlientzVar";
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    display: flex;
    max-width: 70px;
    max-height: 60px;
    background-color: #d4b25b;
    padding: 10px 22px;
    border-radius: 20px;
    color: white;
  }
  &__ranking2 {
    font-family: "TTAlientzVar";
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    display: flex;
    max-width: 70px;
    max-height: 60px;
    background-color: #a3a2aa;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
  }
  &__ranking3 {
    font-family: "TTAlientzVar";
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    display: flex;
    max-width: 70px;
    max-height: 60px;
    background-color: #a27c59;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
  }

  &__first {
    font-size: 30px;
  }
  &__second {
    font-size: 30px;
  }
  &__logo {
    margin-top: 0.7rem;
    border-radius: 50%;
    max-height: 46px;
    max-width: 46px;
    margin-left: 0.8rem;
  }
  &__desc {
    margin-top: 0.9rem;
    margin-left: 0.4rem;
    display: flex;
    flex-direction: column;
  }
  &__desc2-3 {
    margin-top: 1.5rem;
    margin-left: 0.4rem;
    display: flex;
    flex-direction: column;
  }
  &__win {
    color: #d4b25b;
    font-family: "Sohne";
    font-size: 12px;
  }

  &__vini {
    font-family: "Sohne Breit";
    color: white;
    font-size: 16px;
  }
}
