<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../skeleton/common.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- <div style="width: auto; margin: 200px 400px"> -->
      <section class="snap__cont">
        <p class="snap__cont__p">TRY THEM ON</p>
        <section class="snap__cont__video">
          <div class="container__snap">
            <div class="container__snap__p">
              <p>Fewo x Rtfkt Epic</p>
            </div>
            <div class="container__snap__img">
              <img
                src="https://app.snapchat.com/web/deeplink/snapcode?data=2092bdd249074344b8b5c9181474e223&amp;version=1&amp;type=svg"
                alt="qr"
                class="position-absolute top-50 start-0 translate-middle snapchat-img"
                data-v-62372636=""
              />
            </div>
            <div class="container__snap__video">
              <video
                autoplay="true"
                loop="true"
                class="content-media-video"
                data-v-62372636=""
              >
                <source
                  src="https://community-lens.storage.googleapis.com/preview-media/final/e9f8ccc3-9bff-4952-b7f3-86afcfc0c139.mp4"
                  type="video/mp4"
                  data-v-62372636=""
                />
              </video>
            </div>
          </div>
          <div class="container__snap">
            <div class="container__snap__p">
              <p>Fewo x Rtfkt Epic</p>
            </div>
            <div class="container__snap__img">
              <img
                src="https://app.snapchat.com/web/deeplink/snapcode?data=3b486eb7c9b54b6487ec7c09e43eb1d0&amp;version=1&amp;type=svg"
                alt="qr"
                class="position-absolute top-50 start-0 translate-middle snapchat-img"
                data-v-62372636=""
              />
            </div>
            <div class="container__snap__video">
              <video
                autoplay="true"
                loop="true"
                muted
                class="content-media-video"
                data-v-62372636=""
              >
                <source
                  src="https://community-lens.storage.googleapis.com/preview-media/final/bc0b59cb-0296-419a-acb7-7c8ec89aac0e.mp4"
                  type="video/mp4"
                  data-v-62372636=""
                />
              </video>
            </div>
          </div>
          <div class="container__snap">
            <div class="container__snap__p">
              <p>Fewo x Rtfkt Epic</p>
            </div>
            <div class="container__snap__img">
              <img
                src="https://app.snapchat.com/web/deeplink/snapcode?data=c298bf9ea7584ada8280b96705c8c513&amp;version=1&amp;type=svg"
                alt="qr"
                class="position-absolute top-50 start-0 translate-middle snapchat-img"
                data-v-62372636=""
              />
            </div>
            <div class="container__snap__video">
              <video
                autoplay="true"
                loop="true"
                muted
                class="content-media-video"
                data-v-62372636=""
              >
                <source
                  src="https://community-lens.storage.googleapis.com/preview-media/final/765af446-87e4-4da1-99f2-29d07f48c5f9.mp4"
                  type="video/mp4"
                  data-v-62372636=""
                />
              </video>
            </div>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>
