.snap__cont{
    .snap__cont__p{
        color:red;
        font-weight: bold;
        font-size:1.2rem;
        
    }
    .snap__cont__video{
        display: flex;
        gap:1rem;

    }
}
.container__snap{
    background-color:#272932;
    display: flex;
    position: relative;
    border-radius:1rem;
    padding:1rem;
    .container__snap__p{
        color: white;
        writing-mode:vertical-rl;
        transform: rotate(180deg);
        cursor: pointer;
        align-self: flex-end;
        p{
            padding:0.5rem;
        }
        

    }
    .container__snap__img{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        img{
            max-width:128px;
            cursor: pointer;
        }
    }
    .container__snap__video{
        video{
            max-width:100%;
            min-width:300px;
            border-radius:1rem;
            cursor: pointer;
        }
    }
}
.container__snap:hover{
    box-shadow: 0px 5px 10px 5px #1C1D24;
}