<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../skeleton/common.css">
    <link rel="stylesheet" href="video_card.css" />
  </head>
  <body>
    <div style="height: 505px; width: 352px;">
    <div class="containar">
      <div class="containar-title">
        <div class="title">
          <img
            src="../../assets/image/image-logo-card.png"
            alt="logo"
            class="logo"
          />
          <span class="text">@RTFKT</span>
        </div>
      </div>
      <div class="product">
        <video loop muted aria-controls="none" class="video">
          <source
            type="video/mp4"
            src="../../assets/video/video-card-shoes.mp4"
          />
        </video>
        <div class="secondContainar">
          <div class="play" id="play">
            <img
              src="https://cdn.rtfkt.com/assets/icons/play-right-white.svg"
              alt="play icon"
              height="11"
              width="11"
              data-v-c0b4d82e=""
            />
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="second-title">
          <h5>RTFKT x Nike Dunk Genesis CRYPTOKICKS</h5>
        </div>
        <div class="containarSubtitle">
          <span class="subtitle" data-v-2d3408bc="">1 / 20000</span>
        </div>
      </div>
    </div>
  </div>
    <script src="video-card.js"></script>
  </body>
</html>
