<link rel="stylesheet" href="footer.css">
<link rel="stylesheet" href="../skeleton/common.css">
<div class="footer_element">
    <div class="footer_description">
        <div class="footer_description_logo">
            <a href="../../index.html">
                <img src="/assets//img/rtfktlogo.svg" alt="">
            </a>
        </div>
        <p class="footer_description_p">We are a creator led organisation. RTFKT uses the latest in game engines, NFT, blockchain authentication and augmented reality, combined with manufacturing expertise to create one of a kind sneakers and digital artifacts.</p>
    </div>
    <div class="footer_terms">
        <ul>
            <li><a href="">FAQ</a></li>
            <li><a href="">Legal Overview</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Press Info</a></li>
        </ul>
    </div>
    <div class="footer_social">
        <ul>
            <li><a href=""><button>Instagram</button></a></li>
            <li><a href=""><button>Discord</button></a></li>
            <li><a href=""><button>Twitter</button></a></li>
            <li><a href=""><button>Youtube</button></a></li>
            <li><a href=""><button>TikTok</button></a></li>
        </ul>    
    </div>
    </div>

    <div class="footer_copyright">
        <p>RTFKT is a registered trademark of RTFKT Inc. All Rights Reserved. RTFKT <br>

            All logos are registered trademarks of their respective owners. All contents of this document, unless otherwise credited, are copyright © 2023 RTFKT Inc.</p>
    </div>
