.footer_element {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #000000;
  .footer_description {
    width: 50%;
    padding-left: 3rem;
    .footer_description_logo {
      padding-top: 3rem;
    }
    .footer_description_p {
      color: white;
      max-width: 50ch;
      letter-spacing: 0.4px;
      opacity: 0.7;
      padding-top: 3rem;
    }
  }
  .footer_terms {
    padding-top: 3rem;
    ul {
      height: 100%;
      list-style: none;

      li {
        padding-bottom: 1rem;
        a {
          text-decoration: none;
          color: white;
          
          background: linear-gradient(
              to right,
             #000000,
              #000000
            ),
            linear-gradient(
              to right,
              #5733f5,
              #5733f5,
              #5733f5
            );
          background-size: 100% 0.1em, 0 0.1em;
          background-position: 100% 100%, 0 100%;
          background-repeat: no-repeat;
          transition: background-size 400ms;

          &:hover,
          &:focus {
            background-size: 0 0.1em, 100% 0.1em;
          }
        }

        /*  a{

                text-decoration:none;
    color: white;
    opacity: 0.8;
    &:hover{
        opacity: 1;
        text-decoration: underline;
        
            }
        } */
      }
    }
  }
  .footer_social {
    padding-top: 3rem;
    padding-right: 3rem;
    ul {
      height: 100%;
      list-style: none;

      li {
        padding-bottom: 1rem;
        a {
            button {
                border: none;
                background: none;
                color: white;
              }
            text-decoration: none;
            color: white;
            
            background: linear-gradient(
                to right,
               #000000,
                #000000
              ),
              linear-gradient(
                to right,
                #5733f5,
                #5733f5,
                #5733f5
              );
            background-size: 100% 0.1em, 0 0.1em;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
  
            &:hover,
            &:focus {
              background-size: 0 0.1em, 100% 0.1em;
            }
          }
        
      }
    }
  }
  
}
.footer_copyright{
    padding-top: 3rem;
    justify-self: flex-end;
    width: 100%;
    p{
        color: grey;
        text-align: center;
    }
  }