<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="top__nav">
            <div class="logo__image">
                <a href="#">
                    <img src="/assets//img/rtfktlogo.svg" alt="">
                </a>
            </div>
            <div class="right__nav">
                <div class="transparent__button">
                    <div class="drops__cont"><a href="">DROPS ARCHIVE</a></div>
                    <div class="creat__cont"><a href="">CREATORS</a></div>
                    <div class="coll__cont">
                        <a href="">COLLECTIONS</a>
                        <img src="../../assets/img/dropdownarrow.svg" alt="">
                    </div>
                    <div class="wtf__cont"><a href="">WTF</a></div>
                </div>
                <div class="rounded__button">
                    <button>SIGN IN</button>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>