* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: relative;
  z-index: 1;
}

.top__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.top__nav .logo__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 80px;
  padding-left: 24px;
}
.top__nav .logo__image .hidden {
  display: none;
}
.top__nav .logo__image .hidden img {
  width: 100px;
  height: 50px;
  padding-left: 40px;
  padding-top: 20px;
}
.top__nav .logo__image a img {
  width: 151px;
  height: 24px;
}
.top__nav .right__nav {
  display: flex;
  align-items: center;
}
.top__nav .right__nav .transparent__button {
  display: flex;
}
.top__nav .right__nav .transparent__button .drops__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  width: 138px;
  height: 80px;
}
.top__nav .right__nav .transparent__button .drops__cont a {
  font-family: "Sohne Breit";
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 1.6px;
  white-space: nowrap;
}
.top__nav .right__nav .transparent__button .creat__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 80px;
  margin-right: 24px;
}
.top__nav .right__nav .transparent__button .creat__cont a {
  font-family: "Sohne Breit";
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 1.6px;
  white-space: nowrap;
}
.top__nav .right__nav .transparent__button .coll__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 80px;
  margin-right: 24px;
}
.top__nav .right__nav .transparent__button .coll__cont a {
  font-family: "Sohne Breit";
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 1.6px;
  white-space: nowrap;
}
.top__nav .right__nav .transparent__button .wtf__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 80px;
  margin-right: 24px;
}
.top__nav .right__nav .transparent__button .wtf__cont a {
  font-family: "Sohne Breit";
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 1.6px;
  white-space: nowrap;
}
.top__nav .right__nav .rounded__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 80px;
  padding-right: 24px;
}
.top__nav .right__nav .rounded__button button {
  font-family: "Sohne Breit";
  font-size: 15px;
  color: white;
  font-weight: bold;
  width: 104px;
  height: 48px;
  border-radius: 25px;
  background-color: #5733f5;
  border: none;
}
.top__nav .right__nav .rounded__button button:hover {
  background-color: #3f16f4;
}

.hiddenMenu {
  padding-top: 25px;
  padding-right: 25px;
  display: none;
}
.hiddenMenu img {
  width: 30px;
  height: 30px;
}

/* 
width: 151px;
                height: 24px; */
@media screen and (max-width: 950px) {
  #nav {
    justify-content: unset;
    background-color: #1f2028;
  }
  #hidden {
    display: block;
    justify-self: flex-start;
  }
  #visible {
    display: none;
  }
  #hiddenButton {
    display: none;
    justify-self: flex-end;
  }
  #header {
    width: 100%;
  }
  #logo_image {
    padding: 0;
    width: 50px;
    height: 50px;
  }
  #hiddenMenu {
    display: block;
    margin-left: auto;
  }
  #visibleButton {
    position: absolute;
    right: 40px;
  }
}
.mobileMenu {
  display: none;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 80px;
  background-color: white;
}

.dropdownHomepage {
  display: none;
  width: 100%;
  background-color: #2C2D39;
  position: absolute;
  align-self: flex-end;
}/*# sourceMappingURL=style.css.map */