* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 90%;
}
.top__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;

  .logo__image {
    .hidden {
      display: none;
      img {
        width: 100px;
        height: 50px;
        padding-left: 40px;
        padding-top: 20px;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 80px;
    padding-left: 24px;

    & a {
      & img {
        width: 151px;
        height: 24px;
      }
    }
  }

  .right__nav {
    display: flex;
    align-items: center;

    .transparent__button {
      display: flex;

      .drops__cont {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        width: 138px;
        height: 80px;

        & a {
          font-family: "Sohne Breit";
          font-size: 14px;
          font-weight: bold;
          color: white;
          text-decoration: none;
          letter-spacing: 1.6px;
          white-space: nowrap;
        }
      }

      .creat__cont {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 80px;
        margin-right: 24px;

        & a {
          font-family: "Sohne Breit";
          font-size: 14px;
          font-weight: bold;
          color: white;
          text-decoration: none;
          letter-spacing: 1.6px;
          white-space: nowrap;
        }
      }

      .coll__cont {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 139px;
        height: 80px;
        margin-right: 24px;

        & a {
          font-family: "Sohne Breit";
          font-size: 14px;
          font-weight: bold;
          color: white;
          text-decoration: none;
          letter-spacing: 1.6px;
          white-space: nowrap;
        }
      }

      .wtf__cont {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 80px;
        margin-right: 24px;

        & a {
          font-family: "Sohne Breit";
          font-size: 14px;
          font-weight: bold;
          color: white;
          text-decoration: none;
          letter-spacing: 1.6px;
          white-space: nowrap;
        }
      }
    }

    .rounded__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 80px;
      padding-right: 24px;

      & button {
        font-family: "Sohne Breit";
        font-size: 15px;
        color: white;
        font-weight: bold;
        width: 104px;
        height: 48px;
        border-radius: 25px;
        background-color: #5733f5;
        border: none;

        &:hover {
          background-color: #3f16f4;
        }
      }
    }
  }
}

.hiddenMenu {
    padding-top: 25px;
    padding-right: 25px;
  display: none;
  img {
    width: 30px;
    height: 30px;
  }
}
/* 
width: 151px;
                height: 24px; */
@media screen and (max-width: 950px) {
    #nav {
        justify-content:unset;
        background-color: #1f2028;
      }
    #hidden {
    display: block;
    justify-self: flex-start;
  }
  #visible {
    display: none;
  }
  #hiddenButton {
    display: none;
    justify-self: flex-end;
    
  }
  
  #header {
    width: 100%;
  }
  #logo_image {
    padding: 0;
    width: 50px;
    height: 50px;
  }
  #hiddenMenu {
    display: block;
    margin-left: auto;
  }
  #visibleButton{
    position: absolute;
    right: 40px;
  }
}
.mobileMenu{
  display: none;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 80px;
  background-color: white;
}