<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../skeleton/common.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="space">
      <section class="container__snap">
        <section class="container__snap__p">
          <p>Fewo x Rtfkt Epic</p>
        </section>
        <section class="container__snap__img">
          <img
            src="https://app.snapchat.com/web/deeplink/snapcode?data=2092bdd249074344b8b5c9181474e223&amp;version=1&amp;type=svg"
            alt="qr"
            class="position-absolute top-50 start-0 translate-middle snapchat-img"
            data-v-62372636=""
          />
        </section>
        <section class="container__snap__video">
          <video
            autoplay="true"
            loop="true"
            class="content-media-video"
            data-v-62372636=""
          >
            <source
              src="https://community-lens.storage.googleapis.com/preview-media/final/e9f8ccc3-9bff-4952-b7f3-86afcfc0c139.mp4"
              type="video/mp4"
              data-v-62372636=""
            />
          </video>
        </section>
      </section>
    </div>
  </body>
</html>
