<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/component/skeleton/common.css" />
    <link rel="stylesheet" href="filterMenu.css" />
    <link rel="stylesheet" href="/component/filter-button-hider/index.css" />
    <link rel="stylesheet" href="/component/filter-button/index.css" />
  </head>
  <body>
    <button class="button--hide">hide filter</button>
    <div class="aside">
      <div class="slash"></div>
      <div class="sectionAside">
        <div class="textSectionAside">
          <div class="titleAside">
            <span class="showcategories"> categories </span>
            <span
              class="aside__sectionAside--textSectionAside--titleAside--dispaly showcategories"
              id="displayed"
            >
              (6)
            </span>
          </div>
          <div class="sectionSpace">
            <button class="clearCategories">x</button>
          </div>
        </div>
      </div>
      <div class="sectionButtonCategories">
        <button class="buttonSecondPage">
          <img src="/assets/image/wearable.png" /> <span>Werable</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/toys.png" /> <span>Toys</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/sneakers.png" /> <span>Sneakers</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/decor.png" /> <span>Decor</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/avatar.png" /> <span>Avatar</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/luggage-1.png" /> <span>Cabin Luggage</span>
        </button>
      </div>

      <!--  fine categories -->
      <div class="slash"></div>
      <div class="sectionAside">
        <div class="textSectionAside">
          <div class="titleAside">
            <span class="showcreators">creators</span>
            <span
              class="aside__sectionAside--textSectionAside--titleAside--dispaly showcategories"
              id="displayed"
            >
              (38)
            </span>
          </div>
          <div class="sectionSpace">
            <button class="clearCreators">x</button>
          </div>
        </div>
      </div>
      <div class="sectionButtonCreators">
        <button class="buttonSecondPage">
          <img src="/assets/image/ClegFX.png" /> <span>@ClegFX</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/MURAKAMI-x-RTFKT.png" />
          <span>@MURAKAMI x RTFKT</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/Ben-Mauro.png" /> <span>@Ben Mauro</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/Jaiden.png" /> <span>@Jaiden</span>
        </button>
        <button class="buttonSecondPage">
          <img src="/assets/image/Odious.png" /> <span>@Odious</span>
        </button>
        <button class="buttonSecondPage">
          <img src="https://cdn.rtfkt.com/assets/icons/arrow-down-white.svg" />
        </button>
      </div>
      <div class="slash"></div>
      <div class="footer">
        <span
          >New to NFT? Welcome! Learn how to get your hands on one by
          <a href="https://rtfkt.com/category">clickin here</a> <br />Or join
          the community:
          <a href="www.discord.gg/Rtfkt"> www.discord.gg/Rtfkt</a>
        </span>
      </div>
    </div>
  </body>
</html>
