<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RTFKT</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="headerText.css" />
  </head>
  <body>
    <div class="sup">
        <div class="overlay">
      <video muted autoplay loop class="videofullscreen">
        <source
          src="https://cdn.rtfkt.com/assets/forging/rimowa/rimowaForgeVideo.mp4"
          type="video/mp4"
        />
      </video>
    </div>

      <div class="left">
        <div class="subtitle">RTFKT x RIMOWA</div>
        <div class="text1">RIMOWA</div>
        <div class="text2">Forging</div>
        <div class="text2">Event</div>
        <div class="text3">is now open</div>
        <div class="button-container"><!-- inserisci i button qui --></div>
        <div class="date"><!-- inserisci qui la data --></div>
      </div>
      <div class="right"><!-- inserisci qui la card della valigia --></div>
    </div>
  </body>
</html>
