.prova{
  width: 100%;
  
}
.head_second_page {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   /*  background: linear-gradient(0deg, rgba(31, 32, 40, 0.8) 100%, rgb(31, 32, 40) 105%, rgb(255, 255, 255) 100%), url(/assets/image/banner_secondPage.jpg) no-repeat;
    background-position-y: -108px;
    background-size: cover; */
  }
  .head_second_page h1 {
    font-size: 140px;
    color: #e9ecef;
  }
  .head_second_page span {
    font-family: sohn system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;}

    .overlay{
      overflow-x:hidden;
      position:absolute;
      overflow: hidden;
      width:99.5vw !important;
      height:90vh;
      object-fit: cover;
      z-index: -50;
      background-size: 100% 100%;
background-position: 0px 0px;
background-image: radial-gradient(30% 60% at 50% 25%, #073AFF00 0%, #1F2028 100%);
    } 
    .img_bcg{
      overflow-x:hidden;
      position:absolute;
      overflow: hidden;
      width:95vw !important;
      height:auto;
      top: -50px;
      object-fit:contain;
      z-index: -100;
      
    }
    @media (max-width:1000px){
      .img_bcg{
        top:70px;
      }
      .head_second_page h1{
        font-size: 60px;
      }
      .overlay{
        height:400px;
      }
    }