<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="../skeleton/common.css">
  <title>Document</title>
</head>
<body>
<p class="testoJs">
  We are a 
  <i class="objJavascript" imghover="./creator.gif">creator</i>
   led organisation.
  <i class="objJavascript">RTFKT</i> uses the latest in
  <i class="objJavascript">game engines,</i> <i class="objJavascript">NFT,</i>
  <i class="objJavascript">blockchain</i>
  authentication and <i class="objJavascript">augmented reality,</i>
  combined with <i class="objJavascript">manufacturing</i> expertise to create one of a kind
  <i class="objJavascript">sneakers</i> and digital <i class="objJavascript">artifact.</i>
  <script src="index.js"></script>
</p>
</body>
</html>