<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>Document</title>
</head>
<body>
<p class="testoJs">
  We are a 
  <i class="objJavascript" id="uno" imghover="../../assets/creator.gif">creator</i>
   led organisation.
  <i class="objJavascript" imghover="..\..\assets\RTFKT.png">RTFKT</i> uses the latest in
  <i class="objJavascript" imghover="..\..\assets\game-engine.png">game engines,</i> <i class="objJavascript" imghover="..\..\assets\clonex-nft.png">NFT,</i>
  <i class="objJavascript" imghover="..\..\assets\blockchain.png">blockchain</i>
  authentication and <i class="objJavascript" imghover="..\..\assets\augmented-reality.png">augmented reality,</i>
  combined with <i class="objJavascript" imghover="..\..\assets\manufacturing.png">manufacturing</i> expertise to create one of a kind
  <i class="objJavascript" imghover="..\..\assets\sneakers.png">sneakers</i> and digital <i class="objJavascript" imghover="..\..\assets\digital-artefacts.png">artifact.</i>
  <script src="i.js" type="module"></script>
  <script src="uno.js" type="module"></script>
  <script src="due.js" type="module"></script>
  <script src="tre.js" type="module"></script>
  <script src="quattro.js" type="module"></script>
  <script src="cinque.js" type="module"></script>
  <script src="sei.js" type="module"></script>
  <script src="sette.js" type="module"></script>
  <script src="otto.js" type="module"></script>
  <script src="nove.js" type="module"></script>
  

</p>
</body>
</html>