@import url(../skeleton/common.css);
.prova{
  display: flex;//forse si potrebbe aggiungere nello skeleton
}
.right{
  display: flex;
  justify-content: center;
}
.videoCardSup {

  margin: 20px 50px 0 auto;//forse è da togliere
  width: 30%;
  min-width: 300px;

  /* margin: 20px 50px 0 auto;//forse è da togliere 
  width: 40%;
  min-width: 500px;*/

  display: flex;
  flex-direction: column;
  background-color: #33374d8f;
  height: fit-content;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
  &:hover{
    video{
      box-shadow: 0px 60px 26px -35px #434FA0;
    }
  }
  cursor: pointer;
  video {
    object-fit: cover;
    transition: all 3s cubic-bezier(0.1, 0.005, 0, 1.005);
    transition-timing-function: cubic-bezier(0.1, 0.005, 0, 1.005);
    border-radius: 1rem;
    width: 100%;
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;

  }
  .videoCardSup__overlay{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    width: fit-content;
    position: relative;
    border-radius:1rem ;
    top: -4.5rem;
    left: 0.3rem;
    min-height: 2rem;
    
    .testo__overlay{
      font-weight: bold;

      font-size: 1rem  ;
      padding-right: 1rem;

      /*font-size: calc(0.8rem + 0.3rem);*/
    }
    img{
      border-radius: 30px;
    }
  }
  .text__video {
    position: absolute;
    padding: 0 1rem 0 1rem ; 
    font-size: 1rem -3.3vw ;
    max-width: 300px;
/*    position: relative;
    top:-3rem;
    padding-left: 1rem;
    font-size: 1.2rem;*/

    color: white;
    font-family: "Sohne";
    align-self: center;
  }
  .subTitle__video {
    position: relative;
    top:-3rem;
    color: rgb(174, 174, 174);
    font-family: "Sohne";
    align-self: flex-start;

    /*font-size: 1rem ;
    padding: 1rem;*/

    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;

    
  }
}
@media (max-width:1000px) {
  .text__video{
    font-size: 1rem;
  }
  .subTitle__video{
    font-size: 0.8rem;
  }
}
#vsc{
  width: 100px;
}
.titleForging{
  width: 100%;
  justify-self: flex-start;
  color: white;
  h2{
    padding-left: 3rem;
    font-family: "Sohne";
    font-size: 14px;
  }
}
.titleGrid{
  padding-top: 2rem;
  width: 100%;
  justify-self: flex-start;
  color: white;
  h2{
    padding-left: 3rem;
    font-family: "Sohne";
    font-size: 14px;
  }
}
.titleWeAre{
  padding-top: 2rem;
  width: 100%;
  justify-self: flex-start;
  color: white;
  h2{
    padding-left: 3rem;
    font-family: "Sohne";
    font-size: 14px;
  }
}