<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RTFKT</title>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./videCardHeader.css" />
    <link rel="stylesheet" href="../skeleton/common.css" />
  </head>
  <body class="prova">
    <div class="videoCardSup">
      <video muted loop autoplay aria-controls="none">
        <source
          type="video/mp4"
          crossorigin="use-credentials"
          src="https://cdn.rtfkt.com/assets/products/rimowa/nfts/Rimowa_Luggage_Red.mp4"
          data-v-4269611d=""
        />
      </video>
      <div class="videoCardSup__overlay">
          <img src="../../assets/RTFKT-x-RIMOWA.png" alt="">
          <p class="testo__overlay"> @RTFKT x RIMOWA</p>
      </div>
      <div class="testo">
      <h5 class="text__video">RTFKT x RIMOWA “Meta-Artisan” Original Cab...</h5>
      <h6 class="subTitle__video">1/389</h6>
    </div>
    </div>
  </body>
</html>
