<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTFKT</title>
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href=""./videoCardHeader.css">
</head>
<body>
    <div class="videoCardHeader">
        <video controls muted loop autoplay >
            <source type="video/mp4" crossorigin="use-credentials" src="https://cdn.rtfkt.com/assets/products/rimowa/nfts/Rimowa_Luggage_Red.mp4" data-v-4269611d="">
        </video>

    </div>
</body>
</html>