<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/component/skeleton/common.css">
    <link rel="stylesheet" href="Forgin.css">
</head>
<body>
    
    <div class="Forging">
        <div class="Forging__desc">
        <img class="Forging__image" src="../../assets/forge_artwork.png" alt="">
            <div class="Forging__descrizione"> 
            <h2 class="Forging__title">Plan on getting your hands on a RTFKT NFT ?</h2>
            <p class="Forging__paragraph">Before copping a RTFKT NFT that can unlock other NFTs or a forging event,
              check here first to make sure it's still eligible and hasn't already been claimed or forged. 
              Keep in mind the status may change between the time of checking and buying.
            </p>
            <input class="Forging__search" type="search" placeholder="Paste the NFT OpenSea link here">
            <button class="Forging__button">CHECK IT NOW</button>
        </div>
        </div>
    </div>
    
</body>
</html>