<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../skeleton/">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div style="width:1000px; margin:100px 500px; background-color:lightgray;">
        <section class="switchPage2">
            <button id="switch3"></button>
            <button id="switch2"></button>
        </section>
    </div>
    <script src="script.js"></script>
</body>
</html>
