.button2page{
    display:flex;
    justify-content:end;
    gap: 1rem;
}
.switchPage2{
    display:flex;
    gap:1rem;
    align-items: center;
    #switch3{
        background-color:#1F2028;
        border-radius:50%;
        width:40px;
        height:40px;
        
    }
    #switch2{
        background-color:#1F2028;
        border-radius:5%;
        width:25px;
        height:25px;
    }
}
