
.switchPage2{
    display:flex;
    gap:1rem;
    align-items: center;
    #switch3{
        border-radius:50%;
        width:40px;
        height:40px;
        
    }
    #switch2{
        border-radius:5%;
        width:25px;
        height:25px;
    }
}
